.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btnBox{
  width: 150px;
  padding: 50px;
}
.btn{
  background-color: tan;
  border: 0;
  margin:5px;
  padding: 20px;
  border-radius: 15px;
}
.intl{
  text-align: center;
  font-size: 24px;
  width: 25%;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 20px;
  border: 1 solid tan;
  background-color: tan;
  padding: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
